################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiCatalogoProducao/bin/Debug/netcoreapp3.1
/ApiCatalogoProducao/obj
/ApiCatalogoProducao.BusinessObject/obj
/.vs/ApiCatalogoProducao
