################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiCatalogoProducao/bin/Debug/netcoreapp3.1
/ApiCatalogoProducao/obj
/ApiCatalogoProducao.BusinessObject/obj
/.vs/ApiCatalogoProducao
/ApiCatalagoProducao.Test/obj
/ApiCatalagoProducao.Test/bin/Debug/netcoreapp3.1
/ApiCatalogoProducao.BusinessObject/bin/Debug/netcoreapp3.1
/ApiCatalagoProducao.Test/bin/Debug/fine-code-coverage
